<div class="generic-contents">
    <label class="control-label">Người phụ trách</label><i class="far fa-plus-square" title="Thêm"></i>
    <ul>
        <li>Mr.A</li>
        <li>Ms.B</li>
    </ul>
</div>

<style>
    .far{
        color: #3dacef;
        margin-left: 10px;
    }
</style>