<div class="generic-contents">
    <input type="text" class="form-control" placeholder="Tên đầu việc">
    <input type="text" class="form-control" placeholder="Mô tả nội dung công việc">
    <span>Thời gian thực hiện công việc: </span> <input type="number" class="form-control"> <span>(giờ)</span>
</div>