<div class="general-container">
    <div class="general-header">
        <label for="header" class="control-label"></label>
        <input type="text" id="header" class="form-control">
        <div class="general-contents">
            <div class="duration">
                <label for="duration"></label>
                <input type="datetime" id="duration">
                <label for="incharge">Người/Nhóm phụ trách</label>
                <i class="far fa-address-card" title="Thêm nhân viên"></i>
                <input type="text" id="incharge">
        </div>
        
    </div>
</div>