<div class="state-header">
    <div class="state-name">
        <label id="state-label" class="control-label">
            Tên: 
        </label>
        <input id="state-name" type="text" class="form-control"/>
        <span id="state-validation">Bắt buộc</span>
    </div>
</div>